body {
}

#DivHeader
{
    text-align:center;
}

#DivStartButtons
{
    text-align:center;
}

#btnStartLoad
{
    margin-left :10px;
}

#lblBuildName
{
    margin-top:20px;
    margin-left:10px;
    margin-right:50px;
}

#lblBuildAuthor
{
    margin-left:10px;
    margin-right:83px;
}

#DivSave
{
    text-align:right;
}

#btnBuildSave
{
    margin-right:20px;   
}

#PStart
{
    padding-bottom:20px;
}

#DivBuilder
{
    text-align:center;
}

#imgLvl1
{
    margin-left:20px;
}

#imgLvl2
{
    margin-left:20px;
}

#imgLvl3
{
    margin-left:20px;
}

#imgLvl4
{
    margin-left:20px;
}

#imgLvl5
{
    margin-left:20px;
}

#imgLvl6
{
    margin-left:20px;
}